p::first-letter {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 45px;
    font-size: 60px;
}

::placeholder {
    color: rgb(255, 102, 0);
}

p::selection {
    color: violet;
    background-color: blue;
}

::marker {
    color: aqua;
}